@model IEnumerable<StudentExercisesMVC.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StuFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StuLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StuSlackHandle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CohortId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StuFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StuLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StuSlackHandle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CohortId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
